body{
    background-color:white;
    margin: 0;
    padding: 0;
}


header{
    background-color:BLACK;
    color: white;
    padding: 15px;
    text-align: center;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    

}

footer{
    background-color:black;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: bold;

}
